### 1. Data Type and Basic Arimethic:

In [1]:
# Number of students in each grade
Grade1= 25
Grade2= 30
Grade3= 28

In [2]:
# Calculate and display the total number of students

Total_Students = Grade1+Grade2+Grade3
Total_Students

83

In [3]:
# Calculate and display the average number of students per grade

Average_students = Total_Students/3
Average_students

27.666666666666668

### 2. Variable Assignment and String Manipulation

In [4]:
# Store the messages in variables corresponding to each grade.

Grade1= "Welcome to Grade 1! We are excited to have you."
Grade2= "Hello Grade2 students! Get ready to learn and have fun."
Grade3= "Welcome to Grade3 students.Let's make this a great year of learning."

In [5]:
# Display the messages for Grade 2.

print(Grade2)

Hello Grade2 students! Get ready to learn and have fun.

### 3. Lists and Dictionaries

In [6]:
# List of grades

list_grades = ['G1', 'G2', 'G3']
list_grades

['G1', 'G2', 'G3']

In [7]:
# List of subjects for each grade.

G1= ['Math', 'English', 'Science']
G2= ['English', 'Science', 'History']
G3= ['Science', 'History', 'Math']

In [8]:
# Dictionary where keys are the grade names and values are lists of teachers for each grade.

teachers_per_grade= {'G1': ['Mr. Smith', ' Ms. Johnson', 'Mr. Davis'],
                     'G2': ['Ms. Williams', 'Mr. Davis', 'Ms. Brown'],
                     'G3': ['Ms. Davis', 'Mr. Johnson', 'Mr. Smith']}

In [9]:
# Display the subjects taught in Grade 3.

print(G3)

['Science', 'History', 'Math']

In [10]:
# Display the values of Grade 2 in the dictionary.

teachers_per_grade['G2']

['Ms. Williams', 'Mr. Davis', 'Ms. Brown']